auto-save-list
backups
*~
places
*session.*
tramp-autosave
ac-comphist.dat
tramp
ido.last
elpa/*.txt
emms
.emacs.desktop*
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
eshell/history
smex-items
