auto-save-list
backups
*~
places
*session.*
tramp-autosave
ac-comphist.dat
tramp
ido.last
elpa/*.txt
*.elc
emms
.emacs.desktop*
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
/eshell/lastdir
/eshell/history
smex-items
projectile.cache
savehist
recentf
projectile-bookmarks.eld
Wunderlist.org*
org-wunderlist/
org-wunderlist-settings.el
tutorial/
nonsvn.el
archived-contents
/node_modules/
.persistent-scratch
helm-adaptive-history
bookmarks
elpa/*
.python-environments/
anaconda-mode/
.edbi-ds-history