;;; `(file-name-base (buffer-file-name))`.el ---                                  -*- lexical-binding: t; -*-

;; Copyright (C) `(format-time-string "%Y")` `user-full-name`
;; Created: `(format-time-string "%B %d, %Y")`
;; Modified: `(format-time-string "%B %d, %Y")`
;; Version: 0.0.1
;; Author: `user-full-name`
;;; Commentary:

;; 

;;; Code:

$0


(provide '`(file-name-base buffer-file-name)`)
;;; `(file-name-nondirectory buffer-file-name)` ends here
